@model ViewModel

<div class="container-md bg-color">
    @* Marka Logosunu Getirme *@
    @foreach (var x in Model.company)
    {
        <div class="modal-body mt-3">
            <div class="brand">
                <div class="brand-logo mr-3">
                    @if (@x.company_img != null)
                    {
                        <img src="@x.company_img" />}
                </div>
                <div class="mr-auto">
                    <span class="complaints-header">@x.company</span>
                </div>
            </div>
        </div>
    }

    @* Marka ile ilgili Şikayetleri Getirme *@
    <div class="comment-title">
        <h3>Şikayetler</h3>
    </div>
    @foreach (var x in Model.Complaints.Reverse())
    {
        var answer = "";
        if (@x.complaint_processstate == "Y")
        {
            answer = "answer-t";
        }
        <div class="modal-body complaints mt-3 @answer">
            <div class="modal-dialog div-centers complaints @answer modal-xl">
                <a href="/Home/SikayetDetay/@x.id" target="_self" style="z-index: 999; pointer-events: all">
                    <span class="complaints-header">@x.complaint_header.Trim()</span>
                </a>
                <div class="modal-header">
                    <span class="complaint-username ml-n3">
                        <img src="~/Content/images/image1.png" class="complaints-img" />
                        <a href="/Home/Profile/@x.Users.id" class="activate" target="_self"
                           style="z-index: 999; pointer-events: all">
                            <span>@x.Users.username.Trim()</span>
                        </a>
                    </span>
                    <span class="date-time time-top">
                        <time class="timeago" datetime="">@x.complaint_releasedate</time>
                    </span>
                </div>
                <div class="modal-body">
                    <span class="complaints-text" id="read-more">
                        @if (@x.complaint_text.Trim().Length > 300)
                        {
                            @x.complaint_text.Trim().Substring(0, 300);
                        }
                        else
                        {
                            @x.complaint_text.Trim();
                        }...
                    </span>
                    <div class="read-more">
                        @if (@x.complaint_text.Trim().Length > 300)
                        {
                            <a href="/Home/SikayetDetay/@x.id" target="_self" style="z-index: 999; pointer-events: all">
                                Devamını
                                Oku
                            </a>}
                    </div>
                </div>
            </div>
            @if (@x.complaint_picture != null)
            {
                <div class="all-complaints">
                    <img src="@x.complaint_picture" class="modal-round">
                </div>}
            <div class="make-comment modal-footer mb-n3">
                <a href="/Home/SikayetDetay/@x.id" class="activate" target="_self"
                   style="z-index: 999; pointer-events: all">
                    <i class="far fa-comment"></i>
                </a>
            </div>
        </div>}
</div>