@using PagedList;
@using PagedList.Mvc;
@using ctfw.Models.EntityFramework

@model PagedList.IPagedList<Complaints>

<div class="container-md">
    @* Yapılan Son 8 Şikayeti slider olarak getirir *@
    <div class="complaints-purple">
        <section class="responsive slider" id="responsive">
            @{int i = 0;}
            @{int j = 8;}
            @foreach (var x in Model)
            {
                if (i == j)
                {
                    break;
                }
                <div id="main-flexbox" class="m-3 modal-round">
                    <div class="modal-dialog">
                        <div class="modal-content no-bgcolor border-0">
                            <div class="modal-header pt-0">
                                <div class="complaint-username ml-n3">
                                    <div class="d-flex">
                                        <img src="~/Content/images/image1.png" class="complaints-img" />
                                        <div class="center-item-grid ml-2">
                                            <a href="/Home/Profile/@x.Users.id" class="complaint-purple-text" target="_self" style="z-index: 999; pointer-events: all">
                                                <span>@x.Users.username.Trim()</span>
                                            </a>
                                            <a href="/Home/MarkaDetay/@x.Companys.id" class="complaint-purple-text" target="_self" style="z-index: 999; pointer-events: all">
                                                <span>@x.Companys.company</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <span class="date-time time-top">
                                    <time class="timeago" datetime="">@x.complaint_releasedate</time>
                                </span>
                            </div>
                            <div class="modal-body mb-0 pb-0">
                                <span class="complaints-header">
                                    <a href="/Home/SikayetDetay/@x.id" class="complaint-purple-text" target="_self" style="z-index: 999; pointer-events: all">
                                        @x.complaint_header
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>i++;
            }
        </section>
    </div>

    @* Tüm Şikayetleri getirir. *@
    <div class="comment-title">
        <h3>Şikayetler</h3>
    </div>
    <div class="row complaints-center">
        <div class="col-lg-8 modal-md-12">
            @foreach (var x in Model)
            {
                var answer = "";
                if (@x.complaint_processstate == "Y")
                {
                    answer = "answer-t";
                }
                <div class="modal-body complaints mb-3 @answer">
                    <div class="modal-dialog div-centers complaints @answer modal-xl">
                        <a href="/Home/SikayetDetay/@x.id" target="_self" style="z-index: 999; pointer-events: all">
                            <span class="complaints-header">@x.complaint_header.Trim()</span>
                        </a>
                        <div class="modal-header">
                            <div class="complaint-username ml-n3">
                                <div class="d-flex">
                                    <img src="~/Content/images/image1.png" class="complaints-img" />
                                    <div class="center-item-grid ml-2">
                                        <a href="/Home/Profile/@x.Users.id" class="activate" target="_self" style="z-index: 999; pointer-events: all">
                                            <span>@x.Users.username.Trim()</span>
                                        </a>
                                        <a href="/Home/MarkaDetay/@x.Companys.id" target="_self" style="z-index: 999; pointer-events: all">
                                            <span>@x.Companys.company</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span class="date-time time-top">
                                <time class="timeago" datetime="">@x.complaint_releasedate</time>
                            </span>
                        </div>
                        <div class="modal-body">
                            <span class="complaints-text" id="read-more">
                                @if (@x.complaint_text.Trim().Length > 300)
                                {
                                    @x.complaint_text.Trim().Substring(0, 300);
                                }
                                else
                                {
                                    @x.complaint_text.Trim();
                                }...
                            </span>
                            <div class="read-more">
                                @if (@x.complaint_text.Trim().Length > 300)
                                {
                                    <a href="/Home/SikayetDetay/@x.id" target="_self" style="z-index: 999; pointer-events: all">Devamını Oku</a>}
                            </div>
                        </div>
                    </div>
                    @if (@x.complaint_picture != null)
                    {
                        <div class="all-complaints">
                            <img src="@x.complaint_picture" class="modal-round">
                        </div>}
                    <div class="make-comment modal-footer mb-n3">
                        <a href="/Home/SikayetDetay/@x.id" target="_self" style="z-index: 999; pointer-events: all">
                            <i class="far fa-comment"></i>
                        </a>
                    </div>
                </div>      }
        </div>
        @* Şikayet Arama *@
        <div class="modal-body col-lg-4 col-md-12 search-process p-3 center-item-grid modal-round">
            <span class="process-head-text mb-3">Şikayet Ara</span>
            <form class="search-bar header-autocomplete-form" id="header-autocomplete">
                <input id="ara" name="ara" type="text" class="input-field text-autocomplete" autocomplete="off"
                       placeholder="Şikayet Ara">
                <button aria-label="btn" class="txt-autocomplete-icon">
                    <span class="loader l-small" style="display: none;"></span>
                    <i class="fas fa-search" width="14" height="18"></i>
                </button>
            </form>
        </div>
    </div>
    @* Şikayetler Sayfalanır *@
    <div class="center-item">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Sikayetler", new { page }))
    </div>
</div>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }
        $("#ara").keyup(function () {
            var searchText = $("#ara").val().toLowerCase();
            $(".modal-body").each(function () {
                if (!Contains($(this).text.toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        })
    })
</script>

<script src="~/Scripts/slick.min.js"></script>
<script>
    $('#responsive').slick({
        arrows: false,
        dots: false,
        autoplay: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        adaptiveHeight: true,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1
                }
            }
        ]
    });
</script>
